.product{
    background-color: rgb(177, 189, 199);
    border-radius: 15px;
    box-shadow: 10px 5px 5px gray;
    position: relative;
}
.product img{
    background-color: rgb(170, 175, 180);
    border-radius: 15px;
    width: 100%;
}
.product-btn{
    width: 100%;
    background: #eec476;
    font-weight: 700;
    padding: 5px 0px;
    border: none;
    border-radius: 0px 0px 15px 15px;
    position: absolute;
    bottom: 0;
}
.product-btn:hover{
    background-color: orange;
}
