.product-delivery{
    width: 50%;
    margin: 0px auto;
}
.delivery-img{
    width: 200px;
    height: 200px;
}
.quantity-increasing{
    width: 50%;
    margin: 0px auto;
}
.quantity-increasing input{
    display: block;
    margin: 15px;
}
.manage-btn{
    background-color: #eec476;
    font-weight: 700;
    padding: 5px 15px;
    border-radius: 6px ;
}
.manage-btn:hover{
    background-color: orange;
}